@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap'); */

/* Fixed background image */
/* body{
    
} */

#vg-tooltip-element tr:nth-child(n) td:first-child {
  font-weight: bolder;
  color:black;
}

.vega-bindings{
  display: flex;
}

p{
  text-align: left;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  background: transparent;
}

/* Layout */
.page {
    width: 1450px;
    background-color:beige;
    margin: 0;
    font-family: 'Poppins';
    border: #002868;
    border-width: 2px;
  }

.column {
  float: right;
  width: 40%;
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 10px;
}

.column2 {
  display: flex;
  justify-content: center;
  float: left;
  width: 50%;
}

.column3 {
  float: right;
  width: 45%;
  margin-top: 30px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 10px;
}

.horizontalLine {  
  border: none; 
  border-bottom: 2px solid #002868;  
 }

.outer {
  display: grid;
  grid-template: 1fr / 1fr;
  place-items: top;
  padding-top: 0px;
}
.outer > * {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
}
.outer .below {
  z-index: 2;
}

.outer .below2 {
  z-index: 2;
}

.below2 .vega-bindings{
  margin-top: -490px;
  margin-left: 330px;
}

.outer .top {
  z-index: 1;
}

.outer .topmap {
  z-index: 1;
}

.topmap .vega-bindings{
  margin-left: 100px;
}

.outer .top2 {
  z-index: 1;
}

.top2 .vega-bindings{
  margin-left: 5px;
  margin-top: -555px;
}

.buffer .vega-bindings{
  margin-left: 75px;
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

path {
  fill: transparent;
}

text {
  fill: black;
  font-size: 21px;
}

body {
  font-family: 'Poppins';
  font-size: 20px;
}

#hr {
  -moz-transform: rotate(55deg);  
    -o-transform: rotate(55deg);  
-webkit-transform: rotate(55deg);  
   -ms-transform: rotate(55deg);  
       transform: rotate(55deg); 
}

#hr2 {
  -moz-transform: rotate(165deg);  
    -o-transform: rotate(165deg);  
-webkit-transform: rotate(165deg);  
   -ms-transform: rotate(165deg);  
       transform: rotate(165deg); 
}
  

/* Top of the page */

.header{
    font-family:'Poppins';
    font-weight: 900;
    font-size:x-large;
    padding: 0px;
    text-align: left;
    margin-top: 0%;
    
  }

  .header h1{
    color: #ffffff;
  }

  .word {
    color:#01041D;
    line-height: 0%;
  }
  
  .number {
    color:#FF0000;
    line-height: 0%;
  }


.row {
  display: flex;
}


.end{
  line-height: 27pt;
}
