@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap'); */

/* Fixed background image */
/* body{
    
} */

#vg-tooltip-element tr:nth-child(n) td:first-child {
  font-weight: bolder;
  color:black;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  background: transparent;
}

/* Layout */
.page {
    width: 1450px;
    background-color:white;
    margin: 0;
    padding-left: 10px;
    font-family: 'Poppins';
  }

.column {
  float: right;
  width: 40%;
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 10px;
}

.column2 {
  display: flex;
  justify-content: center;
  float: left;
  width: 50%;
}

.outer {
  display: grid;
  grid-template: 1fr / 1fr;
  place-items: top;
  padding-top: 0px;
}
.outer > * {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
}
.outer .below {
  z-index: 2;
}
.outer .top {
  z-index: 1;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

path {
  fill: transparent;
}

text {
  fill: black;
  font-size: 21px;
}

body {
  font-family: 'Poppins';
  font-size: 20px;
}

#hr {
  -moz-transform: rotate(55deg);  
    -o-transform: rotate(55deg);  
-webkit-transform: rotate(55deg);  
   -ms-transform: rotate(55deg);  
       transform: rotate(55deg); 
}

#hr2 {
  -moz-transform: rotate(165deg);  
    -o-transform: rotate(165deg);  
-webkit-transform: rotate(165deg);  
   -ms-transform: rotate(165deg);  
       transform: rotate(165deg); 
}


/* THE UP BUTTOn */
/* #upButton {
	display: none;
	position: fixed;
	bottom: 70px;
	right: 60px;
	z-index: 60;
	font-size: 20px;
	border: none;
	outline: none;
	background-color: rgb(238, 238, 238);
	color: black;
	cursor: pointer;
	padding: 12.5px;
	border-radius: 25px;
}
#upButton:hover {
	background-color: rgb(163, 163, 163);
} */

/* Section divider */


  .section-break {
   
    border: 0;
    border-top: 1px solid #07070791;
    height: 1px;
    margin: 2rem auto;
    text-align: center;
    width: 100%;
  }
  .section-break:before {
    color: #000000;
    content: "◈";
    display: inline-block;
    font-size: 20px;
    left: 50%;
    letter-spacing: 0;
    line-height: 1;
    text-indent: -1px;
    text-rendering: geometricPrecision;
    transform: translateY(-53%);
    width: 15px;
  }


.sect-title{
    font-family: 'Libre Baskerville', serif;
    font-weight: 200; 
    font-size: 18px;
    text-shadow: 2px 2px rgba(204, 204, 204, 0.952);
    
}
  

/* Top of the page */

.header{
    font-family:'Poppins';
    font-weight: 900;
    font-size:x-large;
    padding: 0px;
    text-align: left;
    margin-top: 0%;
    
  }

  .header h1{
    color: #ffffff;
  }

  .word {
    color:#01041D;
    line-height: 0%;
  }
  
  .number {
    color:#FF0000;
    line-height: 0%;
  }

.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 9px 2%;
    background-color: black;
    height: fit-content;
  }

.nav-bar p{
    font-family: 'Libre Baskerville', serif;;
    font-weight: 500;
    font-size: 17px;
    color: #edf0f1;
}
.nav-bar li , .nav-bar a, .nav-bar button{
    font-family: 'Libre Baskerville', serif;;
    font-weight: 500;
    font-size: 17px;
    color: #edf0f1;
    text-decoration: none;
  }
.nav__links{
list-style: none;
}

.nav__links li{
display: inline-block;
padding: 0px 20px;
}

.nav__links li a{
transition: all 0.3s ease 0s;
}

.nav__links li a:hover{
color: #0088a9
}

.nav-bar button{
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  
.nav-bar button:hover{
    background-color: rgba(0,136,169,0.8);
  }
  

  .vis-container {
    width: 100%;
  }

.sect-desc{
  text-align: justify;
  font-size: 25px;
  
}


.row {
  display: flex;
}

.column {
  flex: 50%;
}

.column-text{
  line-height: 27pt;
  padding-top: 90px;
  padding-left: 2%;
  padding-right: 4%;
}

.column-text span{
  font-weight: 400;
  font-size: 25px;
  
}
.green{
  color: #006a4e;
}

.blue{
  color: #1261a0;
}
.highlight-blue{
  color: #1663be;
}

.dark-green{
  color: #163832;
}

.blue2{
  color: #4169e1;
}
.pad{
  height: 40px;
}

.pad-sect{
  height: 10px;
}

.pad-medium{
  height: 20px;
}
.adjust{
  padding-left: 2%;
}

.node{
  font-size: 9px;
}

.sect-desc span{
 
  font-weight: 600;
  font-size: 30px;
}


.column-note{
  padding-left: 2%;
  padding-right: 4%;
}

#line2{
  padding-top: 3%;
}


.DEM{
  color: #4169e1;
}

.REP{
  color: #cf383c;
}

.end{
  line-height: 27pt;
}